{% extends "base.html" %} {% block content %}

<!-- Error zone-->
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
    <div class="alert {% if category == 'error' %} alert-danger {% else %} alert-primary {% endif %}" role="alert">
      {{ message }}
    </div>
    {% endfor %}
  {% endif %}
{% endwith %}

<!-- Add task -->
<form action="/task" method="post">
  <div class="card">
    <div class="card-header">Add a task</div>
    <div class="card-body">
      <input
        type="text"
        class="form-control mb-2"
        name="name"
        placeholder="Task name"
      />
      <input
        type="text"
        class="form-control mb-2"
        name="desc"
        placeholder="Task description"
      />
      <input
        type="date"
        class="form-control mb-2"
        name="date"
        placeholder="Date"
      />
      <button class="btn btn-primary" type="submit">Add Task</button>
    </div>
  </div>
</form>

<!-- Main table -->
<table class="table">
  <thead>
    <tr>
      <th>Done?</th>
      <th>Name</th>
      <th>Description</th>
      <th>Date</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for task in tasks %}
    <tr>
      <td>
        <input
          type="checkbox"
          id="{{ task.id }}"
          name="content"
          {%
          if
          task.isComplete
          %}
          checked
          {%
          endif
          %}
        />
      </td>

      <td class="content task">
        <label
          for="{{ task.id }}"
          class="{% if task.isComplete %} done {% endif %}"
          >{{ task.title }}</label
        >
      </td>

      <td class="content task">
        <label
          for="{{ task.id }}"
          class="{% if task.isComplete %} done {% endif %}"
          >{{ task.description }}</label
        >
      </td>

      <td class="content task">
        <label
          for="{{ task.id }}"
          class="{% if task.isComplete %} done {% endif %}"
          >{{ task.date_added }}</label
        >
      </td>
      <td>
        <span
          ><a href="/delete/{{ task.id }}"
            ><button type="button" class="btn btn-danger">
              <span class="material-icons"> delete </span>
            </button></a
          ></span
        >
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<hr />

<!-- Footer -->
<table>
  <tbody>
    <tr>
      <td>
        <p>
          <span id="count"
            >{{ (tasks|length) - (tasks|sum(attribute='isComplete')) }}</span
          >
          items left
        </p>
      </td>
      <td class="complete"><a href="/finished">Mark all as completed</a></td>
    </tr>
  </tbody>
</table>

<script type="text/javascript">

  const count = {{ tasks|length }};

  $(function() {
    $(":checkbox").click(function(e){
      e.preventDefault();
      var task = e.target;
      $.post("/toggle", {"task_id": task.id}).done(function() {
        task.checked = !task.checked;
        $('label[for='+task.id+']').toggleClass('done');
        $('#count').text(count - $(':checked').length);
      }).fail(function() {
        alert('oops');
      });
    });
  });
</script>

{% endblock %}
